* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  /* background: #010000; */
  background-image: url("/img/fondo.png");
  background-size: cover;
  font-family: "Open Sans", sans-serif;
  text-align: center;
}

nav {
  padding: 20px;
  position: fixed;
  top: 0;
  right: 0;
  font-size: 16px;
}

a {
  color: #fdbc02;
}

a:hover {
  color: #010000;
  background: #e20206;
  box-shadow: 0 0 10px #e20206, 0 0 40px #e20206, 0 0 80px #e20206;
  transition-delay: 1s;
}

/* .text-title*/

.text-title {
    padding: 20px;
    background-color: #fdba022d;
    color: #e20206;
}

/* .contenedor-mision-vision*/

.contenedor-mision-vision {
    display: flex;
    justify-content: center;
    justify-items: center;
    padding: 30px;
    color: blanchedalmond;
}

.titulo {
    font-size: 48px;
    padding: 30px;
}

/*CONTENEDOR DE IMAGENES REFLECTIVAS Y CON TRANSICION*/

.categorias {  
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
  position: relative;
  display: flex;
  -webkit-box-reflect: below 1px
    linear-gradient(transparent, transparent, transparent, #0004);
    padding: 30px;
}

.container .box {
  position: relative;
  width: 520px;
  height: 300px;
  margin: 0 40px;
  border-radius: 20px;
  background: linear-gradient(
    45deg,
    #e20206 25%,
    #444 25%,
    #444 50%,
    #e20206 50%,
    #e20206 75%,
    #444 75%,
    #444 100%
  );
  background-size: 40px 40px;
  filter: grayscale(1);
  animation: animateBg 0.5s linear infinite;
  animation-play-state: paused;
  transition: filter 1s;
  display: flex;
  justify-content: center;
}

.container .box:nth-child(2) {
  background: linear-gradient(
    135deg,
    #fdbc02 25%,
    #444 25%,
    #444 50%,
    #fdbc02 50%,
    #fdbc02 75%,
    #444 75%,
    #444 100%
  );
  background-size: 40px 40px;
}

.container .box:hover {
  animation-play-state: running;
  filter: grayscale(0);
}

@keyframes animateBg {
  0% {
    background-position: 0;
  }

  100% {
    background-position: 40px;
  }
}

.container .box img {
  position: absolute;
  bottom: 0;
  height: 67%;
  transition: height 0.5s;
}

.container .box:hover img {
  height: 250px;
}
